/* comment */

body {
 background-color: #590e0e;
 /*text color*/
 font-size: 21px;
letter-spacing: 3px;
color: 	#fcb6d1;
}

#container {
	width: 700px;
	margin: 0 auto;
}


h1 {
 color: #121010 ;
 font-family: Book Antiqua, Times New Roman;
}

p {

	font-family: Lucida Bright, Courier New;
}
a {
	color: #FFFFFF;
}
